:root {
  --button-background-color: aliceblue;
  --button-border-color: white;
  --button-outline-color: royalblue;
}

.body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.root {
  width: 100%;
  height: 100%;
}

/* debugging only */
/* * {
  border: 1px solid red;
} */
